#task{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    padding: 1rem;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.details{
    padding: 1rem;
    font-size: 28px;
    border: .5rem black solid;
}